<header>
  <h1>Shop With Us</h1>
  <!-- <img src="assets/images/cart.png" alt="cart"> -->
  <div id="cart" (click)="showAndHide()">
    <span id="round">{{count}}</span>
  </div>
</header>

<div id="cartList" class="hideShow">
    <table>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      <tr *ngFor = "let cartProduct of cartList">
        <td class="fontTd">{{cartProduct.name}}</td>
        <td class="fontTd">{{cartProduct.quantity}}</td>
      <td class="fontTd">{{cartProduct.quantity * cartProduct.price}}</td>
      </tr>
      <tr>
        <td>Total Amount</td>
        <td>{{count}}</td>
        <td>{{sum}}</td>
      </tr>
    </table>
  <span class="close" (click)="showAndHide()">✖</span>
</div>

<app-product-list
    [products]="productList"
    (productListMessenger)="cart($event)"
></app-product-list>
